@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    font-family: Roboto;
}
h1{color:#000; font-size: 22px; text-transform: uppercase; font-weight: bold;}
h2{color:#000; font-size: 20px; font-weight: bold;}
h3{color:#000; font-weight: bold;}
h4{color:#666; font-size: 14px; font-style: italic; font-weight: 600;}

.Red-text{
    color:#666;
    font-size: 14px;
}
.Selected-text{
    color:#c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.Exemple-text{
    width: 600px;
    padding: 10px;
    background-color:lightgray;
    border-radius: 5px;
    color:#666;
    font-size: 12px;
}
