.body {
    display: block;
    margin: 0px;
}
.Market{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://previews.123rf.com/images/neilovery/neilovery1909/neilovery190900086/130407402-the-numbers-123-in-alphabet-building-blocks.jpg);
}
.Main-text{
    color: rgb(64, 64, 64);
    background-color: rgb(211, 211, 211);
}
.List-main{
    font-family: sans-serif;
}